<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>setProblema</servlet-name>
        <servlet-class>Servlets.setProblema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveProblema</servlet-name>
        <servlet-class>Servlets.saveProblema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaProblemas</servlet-name>
        <servlet-class>Servlets.listaProblemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detallesProblema</servlet-name>
        <servlet-class>Servlets.detallesProblema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarProblema</servlet-name>
        <servlet-class>Servlets.actualizarProblema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProblema</servlet-name>
        <servlet-class>Servlets.eliminarProblema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaAportes</servlet-name>
        <servlet-class>Servlets.listaAportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setProblema</servlet-name>
        <url-pattern>/setProblema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveProblema</servlet-name>
        <url-pattern>/saveProblema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaProblemas</servlet-name>
        <url-pattern>/listaProblemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detallesProblema</servlet-name>
        <url-pattern>/detallesProblema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarProblema</servlet-name>
        <url-pattern>/actualizarProblema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProblema</servlet-name>
        <url-pattern>/eliminarProblema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaAportes</servlet-name>
        <url-pattern>/listaAportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
